@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/MatLayout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col l4 s1 m2"></div>
        <div class="col l4 s10 m8">
            <div class="card">
                <div class="card-image">
                    <img src="https://pbs.twimg.com/profile_images/657254218244329472/Pim4zc0E_400x400.png" />
                    <span class="card-title">@ViewBag.Title</span>
                </div>
                <div class="card-content">
                    <div class="input-field">
                        <label for="email">Email ID</label>
                        <input required="required" maxlength="254" type="email" class="validate" id="email" />
                    </div>
                    <div class="input-field">
                        <label for="fname">Name</label>
                        <input required="required" maxlength="50" type="text" id="fname" />
                    </div>
                    <div class="input-field">
                        <label for="phone">Phone</label>
                        <input maxlength="10" type="text" id="phone" onkeypress="return isNumber(event)" />
                    </div>
                    <div class="input-field">
                        <label for="pass">Password</label>
                        <input type="password" id="pass" required="required" class="validate" />
                    </div>
                    <div class="input-field">
                        <label for="confirmPass">Confirm Password</label>
                        <input type="password" id="confirmPass" required="required" class="validate" />
                    </div>
                    <button class="btn waves-effect waves-light black" id="submitBtn">Submit</button>
                </div>
            </div>
        </div>
        <div class="col l4 s1 m2"></div>
    </div>
</div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $('#submitBtn').on('click', function () {
        var email = $('#email').val();
        var pass = $('#pass').val();
        var confirmPass = $('#confirmPass').val();
        var fname = $('#fname').val();
        if (email.length < 8) {
            showWarningAlert("email length is minimum 8.");return;
        }
        if (pass.length < 8) {
            showWarningAlert("minimum password size is 8.");
            return;
        }
        if (pass.length != confirmPass.length || pass != confirmPass) {
            showWarningAlert("password and confirm password are not equal.");
            return;
        }
        if (fname.length == 0) {
            showWarningAlert("Name cannot be empty.");
            return;
        }
        $.ajax({
            url: "/Account/RegisterUser",
            type: 'POST',
            data: {
                EmailID: email,
                Password: pass,
                Name: fname,
                Phone: $('#phone').val()
            },
            beforeSend: function () {
                showSpinner();
            },
            success: function (res) {
                if (res.Success) {
                    showSuccessAlert("Registered Successfully.");
                    location.href = '@Url.Action("Login","Account")';
                }
                hideSpinner();
            }
        })

    });


</script>
