@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/MatLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>


<h4>Create a new account.</h4>
<hr />


<div class="container-fluid">
    <div class="row">
        <div class="col s12 center">
            <div class="input-field">
                <label for="email">Email ID</label>
                <input required="required" maxlength="254" type="email" class="validate" id="email" />
            </div>
            <div class="input-field">
                <label for="fname">Name</label>
                <input required="required" maxlength="50" type="text" id="fname" />
            </div>
            <div class="input-field">
                <label for="phone">Phone</label>
                <input maxlength="10" type="text" id="phone" onkeypress="return isNumber(event)" />
            </div>
            <div class="input-field">
                <label for="pass">Password</label>
                <input type="password" id="pass" required="required" class="validate" />
            </div>
            <div class="input-field">
                <label for="confirmPass">Confirm Password</label>
                <input type="password" id="confirmPass" required="required" class="validate" />
            </div>
        </div>
        <button class="btn waves-effect waves-light" id="submitBtn">Submit</button>
    </div>
</div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $('#submitBtn').on('click', function () {
        var email = $('#email').val();
        var pass = $('#pass').val();
        var confirmPass = $('#confirmPass').val();
        var fname = $('#fname').val();
        if (email.length < 8) {
            showWarningAlert("email length is minimum 8.");return;
        }
        if (pass.length != 8) {
            showWarningAlert("minimum password size is 8.");
            return;
        }
        if (pass.length != confirmPass.length || pass != confirmPass) {
            showWarningAlert("password and confirm password are not equal.");
            return;
        }
        if (fname.length == 0) {
            showWarningAlert("Name cannot be empty.");
            return;
        }
        $.ajax({
            url: "/Account/RegisterUser",
            type: 'POST',
            data: {
                EmailID: email,
                Password: pass,
                Name: fname,
                Phone: $('#phone').val()
            },
            success: function (res) {
                if (res.Success) {
                    showSuccessAlert("Registered Successfully.");
                    location.href = '@Url.Action("Login","Account")';
                }
            }
        })

    });


</script>
