@{
    ViewBag.Title = "Home Page";
}

    <!-- slideshow end -->
<style>
    .middle-indicator {
        position: absolute;
        top: 42%;
    }

    .middle-indicator-text {
        font-size: 4.2rem;
    }

    a.middle-indicator-text {
        color: white !important;
    }
    .content-indicator {
        width: 64px;
        height: 64px;
        background: none;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    .indicators {
        visibility: hidden;
    }

</style>    
        
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center middle-indicator">
        <div class="left">
            <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
        </div>

        <div class="right">
            <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
        </div>
    </div>
    <div class="carousel-item grey darken-2 white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item grey darken-2 white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item grey darken-2 white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item grey darken-2 white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>
        
    
    <!-- slideshow end-->

<div class="container">
    <div class="row">
        <div class="col s12">
            here goes your content
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel.carousel-slider').carousel({ fullWidth: true, indicators: true, duration:200,padding:2 });
    });
    setTimeout(autoplay, 4500);
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }

    $('.moveNextCarousel').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('next');
    });

    // move prev carousel
    $('.movePrevCarousel').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('prev');
    });

</script>
    