
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MatLayout.cshtml";
    Dictionary<string, List<string>> catList = ViewBag.DDList;
    string markup = null;

    foreach (var item in catList)
    {
        markup += "<li>";
        markup += "<div class='collapsible-header'>"+item.Key+"</div>";
        markup += "<div class='collapsible-body'>";
        markup+="<ul class='list-unstyled'>";
        foreach (string subType in item.Value)
        {
            markup += "<li>";
            markup+="<label for='"+subType+"'>";
            markup+="<input type='checkbox' id='"+subType+"'class='filter'><span>" + subType+"</span>";
            markup += "</label></li>";
        }
        markup += "</ul></div></li>";
    }

}

<style>


    .list-group-item {
        border-left: 0;
    }

    .group-first {
        border-top: 0;
    }

    .group-last {
        border-bottom: 0;
    }

    .grid-img {
        width: 250px;
        height: 400px;
    }

    .img-div {
        padding: 20px;
    }

    .overlay {
        display: none;
    }



    .card-title {
        display: none;
    }

    .card-image:hover .card-title {
        display: block;
    }

    .card-image > img {
        width: 100px;
        height: 400px;
    }

    .sidenav li{
        margin:10px;
    }
</style>

<ul id="slide-out" class="sidenav">
    <li>
        <ul class="collapsible" data-collapsible="accordion">
            <li>FILTERS</li>
            <li><div class="divider"></div></li>
            <li>
                <div class="collapsible-header">FOR</div>
                <div class="collapsible-body">
                    <ul class="list-unstyled">
                        <li>
                            <label for="men">
                                <input type="checkbox" id="men" class="filter"><span>Men</span>
                            </label>
                        </li>
                        <li>
                            <label for="women">
                                <input type="checkbox" id="women" class="filter"><span>Women</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </li>
            <li><div class="divider"></div></li>
            
            <li>
            <div class="collapsible-header">CATEGORIES</div>
            <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                    @Html.Raw(markup)
                </ul>
            </div>
        </li>
            <li><div class="divider"></div></li>
            <li>
                <div class="collapsible-header">SIZES</div>
                <div class="collapsible-body">
                    <ul class="list-unstyled">
                        <li>
                            <label for="s">
                                <input type="checkbox" id="s"><span>S</span>
                            </label>
                        </li>
                        <li>
                            <label for="m">
                                <input type="checkbox" id="m"><span>M</span>
                            </label>
                        </li>
                        <li>
                            <label for="l">
                                <input type="checkbox" id="l"><span>L</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <li>
                <div class="collapsible-header">PRICE</div>
                <div class="collapsible-body">
                    <ul class="list-unstyled">
                        <li>
                            <label for="r1">
                                <input type="checkbox" id="r1" class="range"><span>Rs.500 to Rs.1000</span>
                            </label>
                        </li>
                        <li>
                            <label for="r2">
                                <input type="checkbox" id="r2" class="range"><span>Rs.1000 to Rs.5000</span>
                            </label>
                        </li>
                        <li>
                            <label for="r3">
                                <input type="checkbox" id="r3" class="range"><span>Rs.5000 to Rs.20000</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </li>
            <li><div class="divider"></div></li>
        </ul>
    </li>
</ul>

<div class="col l12">
    <div class="row">
        <div class="col l8 left">
            <div class="disabled" id="chips">

            </div>
        </div>
        <div class="col l1">
            <button class="btn waves-effect waves-light" id="clear" style="display:none">
                Clear
            </button>
        </div>
        <div class="col l1">
            <a href="#" data-target="slide-out" class="btn sidenav-trigger transparent black-text">FILTERS</a>
        </div>
        <div class="col l2">
            <select id="sel1">
                <option disabled selected>Sort By</option>
                <option>Price: High to Low</option>
                <option>Price: High to Low</option>
                <option>Newest First</option>
                <option>Most Popular</option>
            </select>
        </div>
    </div>
</div>
<div class="container-fluid itemContainer">
    <div class="row">

    </div>
</div>





<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('select').formSelect();
    });

    function CreateItem() {
        var container = $('.itemContainer>.row');
        var markup = '<div class="col l3 img-div">' +
            '<div class="card" >' +
            '<div class="card-image">' +
            '<img src="' + imageSrc + '">' +
            '<span class="card-title">' + Price + '&nbsp;&nbsp;&nbsp;<a class="btn-floating"><i class="material-icons">add</i></a></span>' +
            '</div>' +
            '</div>' +
            '</div >' +
            '<div class="col l1"></div>';
        container.append(markup);
    }

    function CreateChip(text)
    {
        var markup = "<div class='chip'><b>" + text +"</b><i class='close material-icons' onClick='deleteChip(this)'>close</i></div>";
        $('#chips').append(markup);
    }

    $('.filter').on('click', function () {
        var isPresent = false;
        var text = $(this).attr('id');
        var isChecked;
        if ($(this).is(':checked'))
            isChecked = true;
        else
            isChecked = false;
        $('.chip').each(function () {
            if ($(this).find('b').text()==text) {
                isPresent = true;
                $(this).remove();
            }
        });
        if (!isPresent) {
            CreateChip(text);
        }
        if ($('#chips').children().length > 0) {
            $('#clear').css('display', 'block');
        }
        else {
            $('#clear').css('display', 'none');
        }
    });

    $('.chipClose').on('click', function () {
        var id = $(this).find('b').text();
        $('#' + id).prop('checked', false);
        if ($('#chips').children().length > 0) {
            $('#clear').css('display', 'block');
        }
        else {
            $('#clear').css('display', 'none');
        }
    });

    function deleteChip(element)
    {
        var id = element.previousElementSibling.innerHTML;
        $('#' + id).prop('checked', false);
        if ($('#chips').children().length == 1) {
            $('#clear').css('display', 'none');
        }
        else {
            $('#clear').css('display', 'block');
        }
    }

    $('#clear').on('click', function () {
        $('.chip').remove();
        $('.filter').prop('checked', false);
        if ($('#chips').children().length > 0) {
            $('#clear').css('display', 'block');
        }
        else {
            $('#clear').css('display', 'none');
        }
    });

</script>

